[Unit]
Description=DNF Authoritative DNS Server
Documentation=https://github.com/robinhickmann/dnf
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dnf
Restart=on-failure
RestartSec=5s

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
WorkingDirectory=/etc/dnf

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
